[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
django-cors-headers = "~=3.6"                                   # support for configuring CORS headers
djangorestframework = "~=3.12"                                  # api framework
environs = { version = "~=9.5", extras = ["django"] }           # parse configuration from environment variables
psycopg2-binary = "~=2.8"                                       # database driver for postgres
sentry-sdk = "~=0.14"                                           # error reporting
whitenoise = { version = "~=5.2", extras = ["brotli"] }         # better staticfile serving for django
simple-openid-connect = "~=0.3"                                 # mafiasi identity authentication
drf-spectacular = { version = "~=0.26", extras = ["sidecar"] }  # openapi schema generation

[dev-packages]
coverage = { version = "*", extras = ["toml"] }
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"

[requires]
python_version = "3"
