[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1"
django-configurations = "~=2.2"     # better class-based django configuration
djangorestframework = "~=3.12"      # api framework
drf-spectacular = "~=0.13"          # openapi schema generation
psycopg2 = "~=2.8"

[packages.django-auth-mafiasi]
#editable = true
#ref = "master"
ref = "v1.3.3"
git = "ssh://git@git.mafiasi.de/mafiasi-ag/django_auth_mafiasi.git"
extras = ["djangorestframework", "django-configurations"]

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3"
